.navber {
  background-color: rgba(238, 162, 30, 0.904);
  height: 64px;
}

.navber a {
  text-decoration: none;
  margin-left: 82px;
  font-size: larger;
  font-weight: bolder;
  font-family: "Courier New", Courier, monospace;
}
.navber a:hover {
  color: blueviolet;
  border-bottom: 2px solid green;
}
